/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	width: 12rem;
	height: 4.4rem;

	img {
		width: 100%;
		height: 100%;
	}
}
