/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	text-transform: uppercase;
	font-family: 'Norse';

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
	}

	li + li {
		margin-left: 2rem;
	}
}
